
    .text{

    margin:30px;
    font-family: Quicksand, sans-serif;
    }
    .title{
      display: flex;
      flex-direction: column;
      width: 30%;
      font-family: Quicksand, sans-serif;
      font-weight:bold;
      font-size:1.5em;
    }


      .body{
        padding:10vw;
      }
      qr{
          width:100px;
       align-self:center;
      }
      