

          .FilterBlogs{
                 width:90%;
           
            display: flex;
            flex-direction: column;
       
            align-items: center;
     .container{
            position: relative;
            text-align: center;
            color: white;
              display: flex;
                 justify-content: center;
               width:50vw;
          }
          .Blogs{
                 display: flex;
            flex-direction: column;
            justify-content: center;
                      align-items: center;
          }
          .grid{
       
                   display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
                      align-items: center;
          }
       
          .card{
            border-style:solid;
            border-color:#b291f2;
            width:90vw;
            height:auto;
            margin:10px;
         
        
         }
         .cardHeader{
         background: #e2d7f7;
         color:white;
         font-size:0.5vw;
         display:flex;
   
  
 
    
        }
        
        .image{
        
          
          
         width:100%;
        object-fit: cover;
        
        
        }
#postTitle{
   font-size: 1.5em;
   font-weight: 700;
         height:60px;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
}
        .text{
          background: #e2d7f7;
         color:white;
     
         margin: 0px;
         padding:5px;
         display:flex;
             align-items: center;
         justify-content: center;
         text-align: center;
        }
 
           
        .category{
        
          border-top:solid;
          border-bottom:solid;
                    border-top-width:1px;
          border-bottom-width:1px;
          padding:5px;
          margin-bottom:10px;

         display:flex;
flex-direction:row;
width:90%;
  
        
        
        }
                
        .buttons{
        

         border-style: none;           
         color:black;
           background-color:white;
            margin-bottom:10px;
           width:100%;
    font-size:100%;
    text-align: center;
    display: flex;
    justify-content: center;
       
          
               &:hover{
                color: #C29EFC;
              }
          }


          }
@media(min-width:50em){
   .FilterBlogs{
.card{
       
            width:41vw;
           
         
        
         }
   }
 
  
}

@media(min-width:60em){
   .FilterBlogs{
.card{
       
            width:35vw;
          
         
        
         }
   }

  
}


@media(min-width:70em){
   .FilterBlogs{
.card{
       
            width:35vw;
          
         
        
         }
   }

  
}

