
.container{
  border-radius: 25px;
  border-color:black;
  border-width:1px;
  border-style:solid;
  padding: 20px;
  width:12vw;
  height:auto;
  margin:10px;


  }

  .subscribe{
  
    width:100%;

    background-color: #e2d7f7;
    padding:5px;
    border-radius: 25px;
    text-align:center;


 }

  

 .about{
  
text-align:center

}




 .subscribeButton{
  
    margin:10px;
  background-color: #ac82fa;
border-style:none;
border-radius:25px;
height:30px


}

.sideBarContainer{
      display: none;
      width:20vw;    
      margin:3vw;
        height: 100%;
            margin-right:"auto";
              flex-direction: column;
            
          
                border-radius: 25px;
  border-color:black;  
  border-width:1px;
  border-style:solid;
  padding: 20px;
  width: 12vw;
  height: auto;
  margin:10px;

            
}




 .categories{
border-width:1px;
border-left-color:white;
border-right-color:white;
border-style:solid;
padding:2px;

}

.image{

    width: 10px;
    height: 10px;
    border-radius:50px;
    display:flex;
    justify-content:center;



  


}

.inputs{

  width: 95%;
  display:flex;
  justify-content:center;



}
.align{

display:flex;
justify-content:center;
flex-direction:column;


}

@media(min-width:40em){
  .sideBarContainer{
    display: none;
  }
  
}
@media(min-width:60em){
  .sideBarContainer{
    display: flex;
         
  }

  }
