.buttons{
  width:100vw;

  display:flex;
flex-direction:rows;


}
.body{
  width:95vw;

    display:flex;  

  flex-direction:column;
  
  }
  .header{
   
    display:flex;
  flex-direction:row;

  
  }
    
  
    .title{

      font-size:100%;
        }