

          .FilterBlogs{
                 width:90%;
           
            display: flex;
            flex-direction: column;
            align-items: center;
     .container{
            position: relative;
            text-align: center;
            color: white;
               width:50vw;
          }
          .Blogs{
                 display: flex;
            flex-direction: column;
                      align-items: center;
          }
       
          .card{
            border-style:solid;
            border-color:#b291f2;
            width:90vw;
         
        
         }
         .cardHeader{
         background: #e2d7f7;
         color:white;
         font-size:1vw;
         display:flex;
  
 
    
        }
        
        .image{
        
          
          
         
        object-fit: cover;
        
        
        }

 
           
        .category{
        
          border-top:solid;
          border-bottom:solid;
                    border-top-width:1px;
          border-bottom-width:1px;
          padding:5px;
          margin-bottom:10px;

         display:flex;
flex-direction:row;
  
        
        
        }
                
        .buttons{
        

         border-style: none;           
         color:black;
           background-color:white;
            margin-bottom:10px;
           width:100%;
    font-size:100%;
       
          
               &:hover{
                color: #C29EFC;
              }
          }


          }
@media(min-width:40em){
   .card{
       
            width:50vw;
         
        
         }

  
}
@media(min-width:60em){

   .card{
        
            width:32vw;
         
        
         }
  
  }
