
        .Home{
                padding-left: 10vw;
            padding-right: 10vw;

         
            display: flex;
            justify-content: center;
flex-direction: column;


        .blogs{
                padding: 10vw;
        display: flex;
            justify-content:flex-start
        }

        }