
        .AboutHome{
                padding-left: 2.5vw;
            padding-right: 2.5vw;

         
            display: flex;
            justify-content: center;
flex-direction: column;


        .blogs{
                padding: 10vw;
        display: flex;
            justify-content:flex-start
        }

        }